*.class

build/
out/
dist/

*.classpath
*.project
*.settings
/target/

*.log

/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
*.iml
*.ipr
*.iws

*.jar
*.war

.vscode

.npm
.eslintcache
.stylelintcache

.tmp/
temp/
tmp/
*.temp